# Task 4.7 contents

### 1. import libraries
### 2. import data 
### 3. if statement: user defined
### 4. if statement: loc()
### 5. if statement: for loop
### 6. task 4.7 #2
### 7. task 4.7 #4

## 1. import libraries

In [1]:
import pandas as pd
import numpy as nm
import os
import time

## 2. import 4.6 final merged data file

In [2]:
%%time
path = r"C:\Users\andre\OneDrive\Documents\coursework 2022\CF\Immersion\Achievement 4\Instacart Basket Analysis\02 Data\Prepared Data\4.6 Completed Merged Data\4.6_mrg_part2.pkl"
ords_prods_merged = pd.read_pickle(path).drop(['_merge'], axis = 1)

CPU times: total: 4.38 s
Wall time: 6.8 s

### check shape and consistency

In [3]:
%%time
ords_prods_merged

CPU times: total: 0 ns
Wall time: 0 ns

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,1320836,202557,prior,17,2,15,1.0,43553,2,1,Orange Energy Shots,64,7,3.7
32404855,31526,202557,prior,18,5,11,3.0,43553,2,1,Orange Energy Shots,64,7,3.7
32404856,758936,203436,prior,1,2,7,NaN,42338,4,0,"Zucchini Chips, Pesto",50,19,6.9
32404857,2745165,203436,prior,2,3,5,15.0,42338,16,1,"Zucchini Chips, Pesto",50,19,6.9
32404858,3093936,205420,prior,1,4,14,NaN,28818,8,0,Hot Oatmeal Multigrain Raisin,130,14,10.3

In [4]:
%%time
ords_prods_merged.describe()

CPU times: total: 7.67 s
Wall time: 8.12 s

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,aisle_id,department_id,prices
count,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.032876e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07
mean,1.710745e+06,1.029372e+05,1.714230e+01,2.738867e+00,1.342515e+01,1.110408e+01,2.559866e+04,8.352547e+00,5.895873e-01,7.119612e+01,9.919792e+00,1.198023e+01
std,9.872988e+05,5.946610e+04,1.753532e+01,2.090077e+00,4.246380e+00,8.779064e+00,1.408400e+04,7.127071e+00,4.919087e-01,3.821139e+01,6.281485e+00,4.956554e+02
min,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
25%,8.559470e+05,5.142200e+04,5.000000e+00,1.000000e+00,1.000000e+01,5.000000e+00,1.354400e+04,3.000000e+00,0.000000e+00,3.100000e+01,4.000000e+00,4.200000e+00
50%,1.711049e+06,1.026160e+05,1.100000e+01,3.000000e+00,1.300000e+01,8.000000e+00,2.530200e+04,6.000000e+00,1.000000e+00,8.300000e+01,9.000000e+00,7.400000e+00
75%,2.565499e+06,1.543890e+05,2.400000e+01,5.000000e+00,1.600000e+01,1.500000e+01,3.794700e+04,1.100000e+01,1.000000e+00,1.070000e+02,1.600000e+01,1.130000e+01
max,3.421083e+06,2.062090e+05,9.900000e+01,6.000000e+00,2.300000e+01,3.000000e+01,4.968800e+04,1.450000e+02,1.000000e+00,1.340000e+02,2.100000e+01,9.999900e+04

In [5]:
%%time
ords_prods_merged.dtypes

CPU times: total: 0 ns
Wall time: 1.06 ms

order_id                    int64
user_id                     int64
eval_set                   object
order_number                int64
orders_day_of_week          int64
order_hour_of_day           int64
days_since_prior_order    float64
product_id                  int64
add_to_cart_order           int64
reordered                   int64
product_name               object
aisle_id                    int64
department_id               int64
prices                    float64
dtype: object

### change variable data type

In [6]:
%%time
ords_prods_merged['order_id'] = ords_prods_merged['order_id'].astype(str)
ords_prods_merged['user_id'] = ords_prods_merged['user_id'].astype(str)

CPU times: total: 21.8 s
Wall time: 23 s

### check type change was executed

In [7]:
%%time
ords_prods_merged.dtypes

CPU times: total: 0 ns
Wall time: 0 ns

order_id                   object
user_id                    object
eval_set                   object
order_number                int64
orders_day_of_week          int64
order_hour_of_day           int64
days_since_prior_order    float64
product_id                  int64
add_to_cart_order           int64
reordered                   int64
product_name               object
aisle_id                    int64
department_id               int64
prices                    float64
dtype: object

### scenarios to derive variables
* finance -- ratio_debt_to_income = debt/income
* targeted marketing exclusion flag for separating out vegetarian <br>
> If “department_id” is {value of meat products in department_id}, then “meat_eater” = Yes; otherwise, “meat_eater” = No
* targeted marketing exclusion flag for customers who spend very little on Instacart <br>
> If “orders_number” < 10 and “total_expenditure_in_$” < 50, then “exclusion_flag” = Yes; otherwise, “exclusion_flag” = No

#### new variables can be aggregated using describe function

## 3. user defined if statements explained
user defined function structure: a) definition of name and arguments b) what function does
example of user defined function

 * define funtion <br>
       -- def add_num(x,y):<br>
       -- sum = x + y<br>
       -- return sum<br>
        
  * run function<br>
       -- add_num(9,11)<br>
       -- out = 20

## 3.2 write a user defined function with criteria: 
* if price <= 5:
* print('low-range product')
* if price = >5 and <15: 
* print('mid-range product')
* if price >15:
* print('high-range product')

In [8]:
%%time

def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return np.nan

CPU times: total: 0 ns
Wall time: 0 ns

## 3.3 applying the defined function to a created column

In [9]:
%%time
ords_prods_merged['price_range'] = ords_prods_merged.apply(price_label, axis=1)

CPU times: total: 4min 13s
Wall time: 4min 22s

In [10]:
#check 
ords_prods_merged['price_range'].value_counts(dropna = False)

Mid-range product    21860860
Low-range product    10126321
High range             417678
Name: price_range, dtype: int64

## 4. if statement using loc() function

In [11]:
%%time
ords_prods_merged.loc[ords_prods_merged['prices'] > 15, 'price_range_loc'] = 'High-range'

CPU times: total: 438 ms
Wall time: 454 ms

In [12]:
%%time
ords_prods_merged.loc[(ords_prods_merged['prices'] <= 15) & (ords_prods_merged['prices'] > 5), 'price_range_loc'] = 'Mid-range'

CPU times: total: 297 ms
Wall time: 313 ms

In [13]:
%%time
ords_prods_merged.loc[ords_prods_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range'

CPU times: total: 188 ms
Wall time: 187 ms

In [14]:
#check 
ords_prods_merged['price_range_loc'].value_counts(dropna = False)

Mid-range     21860860
Low-range     10126321
High-range      417678
Name: price_range_loc, dtype: int64

## 5. if statements with for-loops

In [32]:
#for loop utility explained 
for x in range(35, 45):
    print("My age is %d" % (x))

My age is 35
My age is 36
My age is 37
My age is 38
My age is 39
My age is 40
My age is 41
My age is 42
My age is 43
My age is 44

## 5.1 create new column with busiest day of week

In [16]:
#check values from orders_dow column 
ords_prods_merged['orders_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

In [17]:
#create list with for loop placed inside

result = []

for value in ords_prods_merged["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [18]:
#create column and place for loop inside
ords_prods_merged['busiest_day'] = result

In [19]:
ords_prods_merged['busiest_day'].value_counts(dropna = False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

## 6. task 2

In [20]:
#set busiest days and least busy days (error received as 'result' needed to be changed to 'results')

results = []

for value in ords_prods_merged["orders_day_of_week"]:
  if value == 0 or value == 1:
    results.append("Busiest days")
  elif value == 4:
    results.append("Least busy days")
  elif value == 3:
    results.append("Least busy days")
  else:
    results.append("Regularly busy")

In [21]:
ords_prods_merged['busiest_days'] = results

In [22]:
#check values
ords_prods_merged['busiest_days'].value_counts()

Regularly busy     12916111
Busiest days       11864412
Least busy days     7624336
Name: busiest_days, dtype: int64

In [23]:
#check percentage of total
total_rows = 32404859
(ords_prods_merged['busiest_days'].value_counts()) / total_rows

Regularly busy     0.398586
Busiest days       0.366131
Least busy days    0.235284
Name: busiest_days, dtype: float64

### observations

the 2 busiest days have almost as many orders as the 3 average days.<br>
> normalized to show percentage of weekly orders:<br>
* A Regularly busy day = 13.3% of weekly orders
* A Busiest day = 18.3% of weekly orders
* A Least busy day = 11.8% of weekly orders

## 7. task 4

In [24]:
#check values to append the labels as needed
ords_prods_merged['order_hour_of_day'].value_counts()

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

In [25]:
#assign most to top 6 hours, fewest to bottom 6 hour period, and others to the average. 

task4_results = []

for value in ords_prods_merged['order_hour_of_day']:
 if value >= 10 and value <= 15:
        task4_results.append('Most orders')
 elif value >= 0 and value <= 5:
        task4_results.append('Fewest orders')
 else:
        task4_results.append('Average orders')

In [26]:
ords_prods_merged['busiest_period_of_day'] = task4_results

In [27]:
%%time
ords_prods_merged['busiest_period_of_day'].value_counts()

CPU times: total: 859 ms
Wall time: 906 ms

Average orders    21177765
Most orders       10630766
Fewest orders       596328
Name: busiest_period_of_day, dtype: int64

In [31]:
#check 
print(ords_prods_merged.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 19 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                object
 1   user_id                 object
 2   eval_set                object
 3   order_number            int64
 4   orders_day_of_week      int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
 7   product_id              int64
 8   add_to_cart_order       int64
 9   reordered               int64
 10  product_name            object
 11  aisle_id                int64
 12  department_id           int64
 13  prices                  float64
 14  price_range             object
 15  price_range_loc         object
 16  busiest_day             object
 17  busiest_days            object
 18  busiest_period_of_day   object
dtypes: float64(2), int64(8), object(9)
memory usage: 4.8+ GB
None

In [36]:
#save file as pkl
ords_prods_merged.to_pickle(r'C:\Users\andre\OneDrive\Documents\coursework 2022\CF\Immersion\Achievement 4\Instacart Basket Analysis\02 Data\Prepared Data\4.7.pkl')